*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
@font-face {
    font-family: "Fresh Lychee";
    src: url(../font/Fresh\ Lychee.ttf);
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 8px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    margin-top: 20px;
    border-radius: 5px;
    background: #909090;
}

body{
    background-color: #4ea879;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 19px;
}

.title{
    font-family: "Fresh Lychee";
    color: white;
    font-size: min(80px, 25vw);
    margin-bottom: 35px;
}

.paper-container{
    background-image: url(../img/paper.jpg);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.input-wrapper{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.cta_add{
    font-size: 15px;
    border: none;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #4ea879;
    cursor: pointer;
    color: white;
}

.input-text{
    border-radius: 999px;
    font-size: 19px;
    padding: 5px 10px;
}

.list-wrapper{
    height: 600px;
    overflow-y: scroll;
}

.list-wrapper li{
    max-width: 600px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 8px 0;
    padding-left: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}